{% extends 'dashb/layout.html' %}
{% load static %}

{% block content %}
<h3 style="color: white;">User Dashboard</h3>
<div>
    Profit/Loss: 
<h5 id="profit-loss-value" style="display: inline;">
    {{ current_profit_loss}}
</h5>
</div>
<img id="profit-loss-graph" src="data:image/png;base64,{{ graph_url }}" alt="Profit/Loss Graph">




<script>
    // Fetch updated data and update the chart
    function fetchUpdatedData() {
        fetch('{% url "simulate_profit_or_loss" %}')  
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Update the chart with the new profit or loss data
                // You can add logic here to update the chart with the received data
    
                // Example: Update an HTML element with the new profit/loss value
                document.getElementById('profit-loss-value').textContent = data.new_profit_or_loss;
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }

    fetchUpdatedData();
    setInterval(fetchUpdatedData, 60000); 
    
    </script>
    
{% endblock %}